<launch>
    <node pkg="vision_chatbot" type="vision_chatbot_node.py" name="vision_chatbot" output="screen">
        <param name="image_folder" value="$(find vision_chatbot)/data"/>
        <param name="emotion_model" value="$(find vision_chatbot)/models/emotion-ferplus-8.onnx"/>
        <param name="gender_proto" value="$(find vision_chatbot)/models/gender_deploy.prototxt"/>
        <param name="gender_model" value="$(find vision_chatbot)/models/gender_net.caffemodel"/>
    </node>
</launch>

